extends ../layout.jade
block content
    div.container
        form.form-horizontal(method='post', action='/admin/movie/new')
            div.form-group
                lable.col-sm-2.control-label 片名
                div.col-sm-10
                    input(type='text',class='form-control', name='title', value='#{movie.title}')
            div.form-group
                lable.col-sm-2.control-label 导演
                div.col-sm-10
                    input(type='hidden', name='_id', value='#{movie._id}')
                    input(type='text', class='form-control', name='doctor' value='#{movie.doctor}')
            div.form-group
                lable.col-sm-2.control-label 地区
                div.col-sm-10
                    input(type='text', class='form-control', name='country', value='#{movie.country}')
            div.form-group
                lable.col-sm-2.control-label 年份
                div.col-sm-10
                    input(type='text',class='form-control', name='year', value='#{movie.year && moment(movie.year).format("MM/DD/YYYY")}')
            div.form-group
                lable.col-sm-2.control-label 海报
                div.col-sm-10
                    input(type='text',class='form-control', name='poster', value='#{movie.poster}')
            div.form-group
                lable.col-sm-2.control-label 语种
                div.col-sm-10
                    input(type='text',class='form-control', name='language', value='#{movie.language}')
            div.form-group
                lable.col-sm-2.control-label flash
                div.col-sm-10
                    input(type='text',class='form-control', name='flash', value='#{movie.flash}')
            div.form-group
                lable.col-sm-2.control-label 简介
                div.col-sm-10
                    textarea(rows='3', cols='20',class='form-control', name='summary', value='#{movie.summary}')
            div.form-group
                div.col-sm-offset-2.col-sm-10
                    button.btn.btn-primary(type='submit') 添加